@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

p {
  font-family: 'Raleway', sans-serif;
  transform: scale(1, 0.9 );
}
