@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  transform: scale(1, 0.9 );
}

.gradient-card {
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #f12711, #f5af19,);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
